admin

All Pages

<% pages.each do |page| %>

  <li id="page<%= page.id %>"><a href="<%= page.url %>"><%= page.title %></a>
	<br>
	<a href="/admin/edit/<%= page.id %>" class="edit">Edit</a>
  </li>


<%end%>
