<h1>All Pages</h1>

<ul class="page-listing">
<% pages.each do |page| %>

  <li id="page<%= page.id %>">
  	<a href="<%= page.url %>" class="page"><%= page.title %></a> <a href="/admin/edit/<%= page.id %>" class="edit">[edit]</a>
  </li>

<% end %>

</ul>



