Edit the <%= page.heading %> page

<form action="" method='POST'>
  <input type="input" name="heading" value="<%= page.heading %>">
  <textarea name="body"><%= page.body %></textarea>
  <input type="submit" value="Submit">
</form>
